parameters:
    level: 8
    paths:
        - bin
        - src
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false